## 1. Importing Libraries

In [97]:
# !pip install catboost

In [98]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from lightgbm import LGBMClassifier
from sklearn.ensemble import VotingClassifier, HistGradientBoostingClassifier, GradientBoostingClassifier
from catboost import CatBoostClassifier

## 2. Loading the data

In [76]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [77]:
train.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
0,0,0,0,6,1,0,0,0,0,7,...,0,0,0,0,0,0,2,0,0,Class_6
1,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,Class_6
2,2,0,0,0,0,0,1,0,3,0,...,0,0,0,0,1,0,0,0,0,Class_2
3,3,0,0,7,0,1,5,2,2,0,...,0,4,0,2,2,0,4,3,0,Class_8
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_2

## 3. Encoding the target data

In [78]:
le = LabelEncoder()
y = le.fit_transform(train['target'])

## 4. Preparing features

In [79]:
X = train.drop(['id', 'target'], axis=1)

## 6. Splitting the data

In [80]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

## 5. Feature Scaling for Logistic Regression

In [99]:
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)

In [82]:
# logreg = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000, random_state=42)
# logreg.fit(X_train, y_train)

In [83]:
# y_val_prob = logreg.predict_proba(X_val)
# logloss_score = log_loss(y_val, y_val_prob)
# print(f'Log loss score: {logloss_score:.4f}')

In [85]:
# rf_model = RandomForestClassifier(
#     n_estimators=200,         # number of trees
#     max_depth=None,           # expand until pure or until min_samples_split
#     random_state=42,
#     n_jobs=-1                 # use all cores
# )

In [101]:
# rf_model.fit(X_train_scaled, y_train)

In [102]:
# y_val_prob = rf_model.predict_proba(X_val)

In [100]:
# val_logloss = log_loss(y_val, y_val_prob, labels=np.unique(y_val))
# print(f"Validation Log Loss: {val_logloss:.4f}")

In [104]:
model1 = GradientBoostingClassifier(random_state=42)
model2 = LGBMClassifier(objective='multiclass', metric='multi_logloss', random_state=42)
model3 = HistGradientBoostingClassifier(random_state=42)
model4 = CatBoostClassifier(loss_function='MultiClass', verbose=False, random_state=42)

In [105]:
estimators = [('gbm', model1), ('lgbm', model2), ('hgbm', model3), ('catb', model4)]
vc = VotingClassifier(estimators, voting='soft')

In [ ]:
vc.fit(X_train, y_train)

In [ ]:
y_prob = vc.predict_proba(X_test)
logloss_score = log_loss(y_test, y_prob, labels=np.unique(y_test))
logloss_score